*{
    margin: 0px;
    padding: 0px;
    color: #fff;
}

body{
    font-family: Arial;
    padding: 20px;
    background: url(background/query.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    justify-content: center;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: -1; /*Keep overlay behind all the content*/
}

a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #FFF200;
    border-radius: 2rem;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    color: aqua;
}

a:hover{
    background-color: aqua;
    color: black;
}

h2{
    text-align: center;
    font-family: Century;
    font-size: 55px;
    color: #FFF200;
}

span{
    color: aqua;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.6);
    border-color: aqua;
    margin-top: 30px;
    
}

th, td{
    padding: 10px;
    border: 2px solid #fff;
    border-color: aqua;
}

th{
    color: #FFF200;
}

textarea{
    color: black;
}

.sub-btn{
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 5px;
}
