*{
    margin: 0px;
    padding: 0px;
    color: #fff;
}

body{
    font-family: Arial;
    padding: 20px;
    background: url(background/blog.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    justify-content: center;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: -1; /*Keep overlay behind all the content*/
}

.btn{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #FFF200;
    border-radius: 2rem;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    color: aqua;
}

.btn:hover{
    background-color: aqua;
    color: black;
}

.sub-btn{
    border: 1px solid #FFF200;
    color: aqua;
    background: transparent;
    border-radius: 2rem;
    padding: 10px 20px;
    margin-top: 12px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.sub-btn:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
}

h2{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Century;
    font-size: 45px;
    color: #fff;
}

span{
    color: aqua;
}

form{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    padding: 15px 25px;
    width: 400px;
    margin: auto;
    border-radius: 12px;
}

input[type="text"], input[type="email"], select, textarea {
    background-color: transparent;
    color: #fff;
    border: 2px solid #FFF200;
    border-radius: 10px;
    padding: 8px;
    width: 300px;
    margin-top: 5px;
}

select option{
    background-color: black;
}

textarea{
    width: 90%;
}

label{
    font-weight: bold;
    color: aqua;
}


/*Blog Post*/

.blog-card{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #FFF200;
    padding: 15px;
    margin: 20px;
    background: black;
    border-radius: 8px;
}

.blog-card img{
    width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.blog-card img:hover{
    transform: scale(1.02);
    border: 2px solid aqua;
}

.blog-card .blog-content{
    flex: 1;
}

.content h3{
    font-size: 22px;
    color: aqua;
}

.blog-card p{
    margin: 10px 0;
}

.blog-card p em{
    font-size: 14px;
    color: #777;
}
