*{
    margin: 0px;
    padding: 0px;
    color: aqua;
}

body{
    font-family: Arial;
    background: url(background/contact_us.jpg) no-repeat center fixed;
    background-size: 100% 100%; /* Background cover the window size*/
    color: #fff;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;   /*covers entire viewport*/
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: -1; /*Keep overlay behind all the content*/
}

.back-btn{
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #FFF200;
    border-radius: 2rem;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}

.back-btn:hover{
    background-color: aqua;
    color: black;
}

h2{
    text-align: center;
    font-family: Century;
    font-size: 55px;
    color: #FFF200;
}

span{
    color: aqua;
}

form{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    width: 70%;
    padding: 15px 25px;
    width: 400px;
    margin: auto;
    border-radius: 12px;
}

input[type="text"], input[type="email"], select, textarea {
    background-color: transparent;
    color: #fff;
    border: 2px solid #FFF200;
    border-radius: 10px;
    padding: 8px;
    width: 300px;
}

textarea{
    width: 98%;
}

label{
    font-weight: bold;
}

.sub-btn{
    border: 1px solid #FFF200;
    color: #fff;
    background: transparent;
    border-radius: 2rem;
    padding: 10px 20px;
    margin-top: 12px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.sub-btn:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
}

/*Footer Section*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.5);
}

.footer .social{
    text-align: center;
    padding-bottom: 15px;
    color: aqua;
}

.footer .social a{
    
    background-color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.5s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-5px);
    background: #FFF200;
    box-shadow: 0 0 25px #FFF200;
}

.footer .copyright{
    text-align: center;
    font-size: 16px;
}