*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
    color: #fff;
}

body{
    background: url(background/main-img.jpg) no-repeat center fixed;
    background-size: 100% 100%; /* Background cover the window size*/
    color: #fff;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;   /*covers entire viewport*/
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: -1; /*Keep overlay behind all the content*/
}


/*Home Section*/
header{
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.main{
    margin: auto;
    margin: auto;
}

.gymname p{
    font-size: 1.3rem;
}

.gymname{
    float: left;
    font-size: 2rem;
    color: #FFF200;
    font-weight: 100;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 10px;
}

.gymname:hover{
    transform: scale(1.1);
}

span{
    color: aqua;
}

ul.nav li.active a{
    background-color: #fff;
    color: black;
    border-radius: 1rem;
}

ul.nav{
    float: right;
    list-style-type: none;
    margin-top: 40px;
    min-height: 400px;
    margin-right: 50px;
    font-size: 17px;
}

ul.nav li{
    display: inline-block; 
}

ul.nav li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul.nav li a:hover{
    background-color: aqua;
    color: black;
    border-radius: 1rem;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

#greetingMessage{
    position: absolute;
    color: aqua;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.overview{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFF200;
    font-size: 20px;
    text-align: center;
}





/*About Section*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

.about-img img{
    width: 400px;
    height: auto;
    margin-left: 50px;
    border: 2px solid #00f0ff;
    border-radius: 1rem;
    transition: 0.5 ease;
}

.about-img img:hover{
    transform: scale(1.02);
    border: 2px solid #45FFCA;
}

.about-content .heading{
    text-align: center;
    font-size: 60px;
    color: #FFF200;
}

.about-content{
    padding: 20px 3rem;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1;
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 20px;
}

.about-content p{
    font-size: 1rem;
    margin: 2rem 0 2rem;
}

.about-content p a{
    display: inline-block;
    cursor: pointer;
    color: #FFF200;
    text-decoration: none;
    transition: 0.3 ease;
}

.about-content p a:hover{
    transform: scale(1.1);
}

.about-content p a:visited{
    color: #00f0ff;
}

.button{
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.btn{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5s ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background-color: aqua;
    color: black;
}




/*Services Section*/

.services .heading{
    text-align: center;
    font-size: 65px;
}

.services-content{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 1.2rem;
}

.row{
    background-color: black;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #00f0ff;
    padding: 10px;
    transition: all 0.5 ease;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 1.4px;
}

.row h4{
    font-size: 20px;
    font-weight: 70;
    margin-bottom: 10px;
    line-height: 1.4px;
}

.row:hover{
    border: 1px solid #45FFCA;
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}


/*Equipment Section*/

.equipment .heading{
    padding-top: 50px;
    text-align: center;
    font-size: 65px;
}

.equipment-content{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 1.2rem;
}




/*Trainers Section*/

.trainer{
    height: 100vh;
}

.trainer .heading{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 65px;
}

.trainer-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.trainer-box p{
    color: #FFF200;
}

.trainer-box img{
    width: 9rem;
    border-radius: 50%;
    border: 2px solid #00f0ff;
}

.trainer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    gap: 3rem;
}

.trainer-content .box{
    min-width: 250px;
    background: #000;
    border: 3px solid #00f0ff;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.trainer-content .box:hover{
    border: 3px solid #45FFCA;
    transform: translateY(-5px) scale(1.03);
}

