*{
    margin: 0px;
    padding: 5px;
    color: #fff;
}

body{
    padding: 10px 50px;
    background: url(Meal_Plans/backgroundmp.jpg) no-repeat center fixed;
    background-size: 100% 100%; /* Background cover the window size*/
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    z-index: -1; /*Keep overlay behind all the content*/
}

a{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-color: #FFF200;
}

a:hover{
    background-color: aqua;
    color: black;
}


.header{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: Century;
}

h3{
    color: #FFF200;
}

span{
    color: aqua;
}

table{
    border-collapse: collapse;  /*prevents double borders*/
    width: 100%;
    border-color: aqua;
    background: rgba(0, 0, 0, 0.6);
}

th, td{
    border: 2px solid #fff;
    border-color: aqua;
}

th{
    color: #FFF200;
}






